# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Intermediate folders
int
**/int

# Binary folders
bin/
**/bin/

# Obj Folder
obj/
**/obj/
out/

# Visual Studio config folder
.vs/

# Resources folder
resources/fonts/
resources/models/
resources/*.*

# Visual Studio solution and projet config files 
**/*.sln
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters

# Profiling data files
**/*.json
